<%- include("header"); -%>
  <main>
  <div class="contact">
    <h2>“Welkom in mijn palazzetto!”</h2>
    <p>Peter Paul Rubens
      Dit is het huis van Peter Paul Rubens, wereldberoemd barokschilder uit de 16de en 17de eeuw. Zijn oeuvre inspireert al vierhonderd jaar kunstenaars en kunstliefhebbers wereldwijd. Veel van zijn werk ontstaat in dit huis, in hartje Antwerpen. Hier woont Rubens jarenlang met zijn gezin en werkt hij met collega’s en assistenten in zijn atelier. Hij ontvangt er belangrijke opdrachtgevers en koestert er zijn unieke kunstcollectie. Nergens ter wereld is Rubens zo aanwezig als in dit unieke museum, het huis van de meester. En u bent zijn gast. Welkom.</p>
    <h2>Wie?</h2>
    <h3>Directie</h3>
      <li>Ben van Beneden: directeur</li>
    <h3>Collectie en tentoonstellingen</h3>
      <li>Martine Maris: conservator</li>
      <li>Veerle Allaert: administratief assistent</li>
    <h3>Gebouw</h3>
      <li>Kristien de Waal: gebouwbeheerder</li>
    <h3>Publiekswerking</h3>
      <li>Nele Vervoort: publiekswerking​</li>
    <h3>Pers</h3>
      <li>Nadia De Vree: persverantwoordelijke Musea Stad Antwerpen</li>
    <h3>Communicatie</h3>
      <li>Philip Barbaix: e-communicatie</li>
      <li>Harlinde Pellens: communicatie</li>
    <h3>Toezichters</h3>
      <li>Rudi Verheyen: ploegleider</li>

    <h2>Waar?</h2>
    <p>Wapper 9-11 <br>
      2000 Antwerpen <br>
      tel. 02 201 15 55 <br>
      <a href="rubenshuis@antwerpen.berubenshuis@antwerpen.be">rubenshuis@antwerpen.be</a></p>
    <h2>Waarom?</h2>
    <p>
      De collecties van het Rubenshuis, het Rubenianum en het Museum Mayer van den Bergh overspannen samen een hele rijke en cruciale periode uit de Vlaamse kunst en cultuur: de middeleeuwen, de renaissance en de barok. Ze werken elk – op een boogscheut van elkaar - vanuit een historische locatie met een bijzondere collectie. Door hun expertise te bundelen bedienen ze samen diverse publieksgroepen:  zowel lokaal als internationaal, zowel geïnteresseerde liefhebbers als professionals.
    </p>
  </div>
  </main>
