<div id="filters" class="button-group">
  <button id="fillall" class="button is-checked spannerke" data-filter="*">toon alles</button>
  <button class="button" data-filter=".dame">Jonkvrouw</button>
  <button class="button" data-filter=".olie">Olieschetsen</button>
  <button class="button" data-filter=".schilderij">Schilderijen</button>
  <button class="button" data-filter=".zelfportret">Zelfportret</button>
  <button class="button" data-filter=".dieren">Dieren</button>
  <button class="button" data-filter=".ppr">Peter Paul Rubens</button>
  <button class="button" data-filter=".jc"> Jacob Claesz</button>
  <button class="button" data-filter=".portret">portret</button>
  <button class="button" data-filter=".zestien">16de Eeuw</button>
  <button class="button" data-filter=".zeventien">17de Eeuw</button>
</div>
