    <footer>
      <a href="www.google.be"> Google</a>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/js/isotope.js"></script>
    <script src="/js/script.js" charset="utf-8"></script>
  </body>
</html>
