<!DOCTYPE html>
<html lang="nl-BE" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Oefening 1 test</title>

    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <header>
    <%- include("nav"); -%>
    <a href="#" class="pijl top">
      <div class="links top">
      </div>
      <div class="rechts top">

      </div>
    </a>

    </header>
