<%- include("header"); -%>
  <main>
    <h1>Het Rubenshuis in een notendop </h1>
    <p>“Welkom in mijn huis!” Peter Paul Rubens, briljant en veelzijdig kunstenaar, nodigt u uit in zijn stadspaleis. </p>
    <%- include('werkpost', {post: posts[2], index: 2}); -%>
  </main>

<%- include("footer"); -%>
